@media only screen and (min-width: 389) and (max-width: 900px){

    .slideshow {
        display: flex;
        flex-direction: row;
        overflow: hidden; /* Скрываем содержимое, которое не помещается в контейнер */
        height: 220px!important;
        flex-wrap: wrap;
        align-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}

html{
    font-size: 16px;
    margin: 0; /* Добавим отступы для сброса значений по умолчанию */
    padding: 0;
    border: none;
}


body {
    margin: 0;
    padding: 0;  
    width: 100%;
    min-height: 100vh; /* Устанавливаем минимальную высоту body равную 100% высоты окна браузера */
    background-color: #292828;
}

header {
    display: flex;
    flex-direction: column;
    position: static;
    z-index: 1000;
    /* background-color: transparent; */
    background-color: #cad8ff;
    flex-shrink: 0; /* Запрещаем уменьшение высоты элемента при недостаточном пространстве */
  }

ul{
    background-color: transparent; /* Используйте "transparent" вместо "none" для прозрачного фона */
  list-style: none; /* Убираем маркеры у списков */
}

li{
    background-color: transparent;
}

/* Header */

.nav-header{
    background-color: transparent; /* Прозрачный фон для элемента с классом "nav-header" */
}

.ul-header{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    flex-direction: row-reverse;
}

.ul-menu-none{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-feder{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-feder.open{
    display: grid;
    background-color: transparent;
}

.ul-header-dok{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-dok.open{
    display: grid;
    background-color: transparent;
}

.ul-header-komis{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-komis.open{
    display: grid;
    background-color: transparent;
}

.li-header-item{
    padding: 1rem 0;
    color: black;
}

.li-header-link{
    padding: 1rem;
    text-decoration: none;
    border-left: 2px solid #ccc;
}


/* Section_1 */

.section_1{
    position: relative;
    width: 100%;
    z-index: 99;
}

.slideshow {
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Скрываем содержимое, которое не помещается в контейнер */
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  .slide-img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .div-h1{
    width: 100px;
    margin-left: 40px;
    margin-top: -575px;
    color: rgb(133, 17, 13);

  }

 

