html{
    height: 700px;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

main{
    height: 300px;
}

ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

li{
    padding: 5px;
}

button{
    border-radius: 10px!important;
    width: 150px;
}

input{
    border: solid black 1px;
    border-radius: 10px;
    height: 40px;
    max-width: 100%; /* Устанавливаем максимальную ширину */
    overflow-x: auto; /* Полоса прокрутки горизонтально */
}

textarea{
    width: 100%;
    min-width: 300px;
    border: solid black 1px;
    border-radius: 10px;
}


.conteiner-admin{
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 10;
    gap: 170px;
}

.admin-menu{
    width: 400px;
    min-width: 250px;
    height: 100vh;
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
}

.admin-menu-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}


form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#form{
    width: 800px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media(max-width: 378px){
    input{
        width: 250px;
    }

    textarea{
        min-width: 250px!important;
        width: 250px!important;
    }

    .admin-menu{
        width: 240px;
        height: 100vh;
        background-color: rgb(54, 53, 53);
        border-radius: 3px;
    }

    .admin-menu-phone{
        display: flex;
        min-width: 10px;
        width: 1px;
    }

    .admin-menu-phone.open{
        height: 700px;
        position: absolute;
        z-index: 15;
        width: 212px;
    }

    .admin-menu-section{
        display: none;
    }

    .admin-menu-section.open{
        display: flex;
    }
    
    .admin-menu-icon-phone-block{
        position: relative;
        z-index: 10;
        width: 28px;
        background-color: rgb(54, 53, 53);
        /* background-color: red; */
        display: flex!important;
        justify-content: flex-end;
        align-items: center;
        border-radius: 42px;
    }
    .admin-menu-icon{
        height: 700px;
        width: 27px;
        color: rgb(168, 42, 42);
        background-color: #fff;
        border: solid #212529 2px;
        border-radius: 10px;
    }

    .conteiner-admin{
        gap: 0;
    }

    form{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    
    #form{
        position: absolute;
        z-index: 5;
        width: 300px;
        display: flex;
        justify-content: flex-end;
    }

    .formContent{
        display: flex!important;
        flex-direction: column;
    }

    .visual{
        margin-left: 45px!important;
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 8px solid transparent; /* Размер треугольника и цвет границы */
        border-right: 8px solid transparent;
        border-bottom: 15px solid white; /* Цвет заливки треугольника */
        transform: rotate(90deg); /* Поворачивает треугольник на 90 градусов */
        margin: 5px;
    }      
      
      
}

.custom-file-upload {

    background-color: #f1f1f1;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

.custom-file{
    display: none;
}

.admin-menu-icon-phone-block{
display: none;
}

.visual{
    margin-top: 10px;
    margin-left: 10px;
}

.text{
    display: block;
    width: 100%;
    max-height: 200px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    font-size: 16px; /* Установите размер шрифта по своему усмотрению */
}

.formContent{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: space-evenly;
    justify-items: stretch;
}

#conteiner-form{
    position: relative;
    z-index: 5;
}

.styles{
    width: fit-content;
    height: 25px;
    padding: 5px;
    margin: 5px;
    padding-top: 0px;
}

.stylesConteinter{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

