h2{
    height: 80px;
}

p{
    color: black!important;
}

.background-white{background-color: white;}
.background-black{background-color: black;}
.background-lite-black{background-color: #211e1e;}
.background-red{background-color: #970a0a;}
.text-white{color: white;}

.p-size-h4{
    font-size: 20px;
}

main{
    /* background-image: url("../img/background/wall/stone-wall.jpg"); */

    background-color: rgb(255, 255, 255);
    background-size: cover;
    /* opacity: 0.5; */
    margin: 0;
    padding: 0;
}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colum-6{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 200px);
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
}

.shield{
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #000000; /* Цвет рамки */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name{
    width: 160px;
}

.img-logo{
    width: 100px;
}
.img-flag{

    height: 192px;
}

.img-flag.leftmin40{
    margin-left: -40px;
}

.flip-container {
    perspective: 1000;
    }
     
    .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    }
     
    .flip-container, .front, .back {
    /* width: 320px; */
    /* height: 480px; */
    }
    .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
     
    position: relative;
    }
    .front, .back {
    backface-visibility: hidden;
     
    position: absolute;
    top: 0;
    left: 0;
    }
    .front {
        width: 192px;
        overflow: hidden;
        z-index: 2;
    }
    .back {
    transform: rotateY(180deg);
    width: 192px;
    height: 192px;
    }

    .skits{
        background-color: rgba(255, 250, 250, 0.856);
    }

    .boksaKikboksaSkolaSize{
        padding: 26px;
        margin: 0px 0px 0px -26px;
        background-color: white;
    }
  
    .about-club{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }