h2{
    height: 80px;
}

p{
    color: black!important;
}

.p-size-h4{
    font-size: 20px;
}

main{
    background-image: url("../img/background/wall/stone-wall.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colum-6{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 200px);
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
}

.shield{
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #000000; /* Цвет рамки */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name{
    width: 160px;
}

.img-logo{
    width: 100px;
}
.img-flag{

    height: 192px;
}

.img-flag.leftmin40{
    margin-left: -40px;
}

.flip-container {
    perspective: 1000;
    }
     
    .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    }
     
    .flip-container, .front, .back {
    /* width: 320px; */
    /* height: 480px; */
    }
    .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
     
    position: relative;
    }
    .front, .back {
    backface-visibility: hidden;
     
    position: absolute;
    top: 0;
    left: 0;
    }
    .front {
        width: 192px;
        overflow: hidden;
        z-index: 2;
    }
    .back {
    transform: rotateY(180deg);
    width: 192px;
    height: 192px;
    }

    .back.favorit{
        background-color: white;
    }
  
    .about-club{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }