p{
    color: black!important;
}

a{
    color: black!important;
}

/* PDF style change */

#toolbar{
    background-color: white;
    color: black;
}
iron-icon{
color: black;
}

#navigation{
    position: relative!important;
    z-index: 5!important;
}

.conteiner{
    /* height: 200px; */
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.ul_rules{
    display: flex;
    flex-direction: row;
}

.rules{
    background-color: #d7d7d7;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
    font-size: 11px;
}

.conteiner_2{
    display: flex;
    justify-content: center;
}

.content_zone{
    justify-content: center;
    width: 1200px;
}

.change{
background-color: white;
}

.flex_colum_center{display: flex; justify-content: center; flex-direction: column; align-items: center;}
.flex_row_center{display: flex; justify-content: center; flex-direction: row; align-items: center;}

.font_small{font-size: small;}
.font_10{font-size: 10px;}
.font_15{font-size: 15px;}
.font_20{font-size: 20px;}
.font_30{font-size: 30px;}
.font_40{font-size: 40px;}
.font_50{font-size: 50px;}
.font_60{font-size: 60px;}
.font_70{font-size: 70px;}

.margin_left_50{margin-left: 50px;}
.margin_left_100{margin-left: 100px;}
.margin_left_150{margin-left: 150px;}
.margin_left_200{margin-left: 200px;}

.padding_5{padding: 5px;}
.padding_10{padding: 10px;}
.padding_15{padding: 15px;}
.padding_20{padding: 20px;}

.color_red{color: red;}

.width_1000{width: 1000px!important;}
.width_photo{width: 900px;}

