/* Стили для контейнера слайдшоу */

  
  /* Стили для отдельных слайдов */
  .slide {
    flex: 0 0 100%; /* Каждый слайд занимает всю доступную ширину контейнера */
    /* width: 100%; */
    /* height: 100rem; */
    background-size: cover;
  }
  
  /* Анимация для перехода между слайдами */
  /* @keyframes slideshowAnimation {
    0% { margin-left: 0; }
    33% { margin-left: -100%; }
    66% { margin-left: -200%; }
    100% { margin-left: -200%; }
  }
   */
  /* Анимация для перехода между слайдами с продолжительностью 5 секунд */
  /* .slideshow {
    animation: slideshowAnimation 15s infinite;
  } */

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  @media only screen and (min-width: 389) and (max-width: 900px){

    .slideshow {
        display: flex;
        flex-direction: row;
        overflow: hidden; /* Скрываем содержимое, которое не помещается в контейнер */
        height: 220px!important;
        flex-wrap: wrap;
        align-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}

html{
    font-size: 16px;
    margin: 0; /* Добавим отступы для сброса значений по умолчанию */
    padding: 0;
    border: none;
}


body {
    margin: 0;
    padding: 0;  
    width: 100%;
    min-height: 100vh; /* Устанавливаем минимальную высоту body равную 100% высоты окна браузера */
    /* background-color: #292828; */
}

header {
    display: flex;
    flex-direction: column;
    position: static;
    z-index: 1000;
    /* background-color: transparent; */
    background-color: #cad8ff;
    flex-shrink: 0; /* Запрещаем уменьшение высоты элемента при недостаточном пространстве */
  }

ul{
    background-color: transparent; /* Используйте "transparent" вместо "none" для прозрачного фона */
  list-style: none; /* Убираем маркеры у списков */
}

li{
    background-color: transparent;
}

/* Header */

.nav-header{
    background-color: transparent; /* Прозрачный фон для элемента с классом "nav-header" */
}

.ul-header{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    flex-direction: row-reverse;
}

.ul-menu-none{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-feder{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-feder.open{
    display: grid;
    background-color: transparent;
}

.ul-header-dok{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-dok.open{
    display: grid;
    background-color: transparent;
}

.ul-header-komis{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
}

.ul-header-komis.open{
    display: grid;
    background-color: transparent;
}

.li-header-item{
    padding: 1rem 0;
    color: black;
}

.li-header-link{
    padding: 1rem;
    text-decoration: none;
    border-left: 2px solid #ccc;
}


/* Section_1 */

.section_1{
    position: relative;
    width: 100%;
    z-index: 99;
}

.slideshow {
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Скрываем содержимое, которое не помещается в контейнер */
    height: 350px;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  .slide-img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .div-h1{
    width: 100px;
    margin-left: 40px;
    margin-top: -575px;
    color: rgb(133, 17, 13);

  }

 

