@mixin displayCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    @include displayCenter();
    flex-direction: column;
}
main{
    display: flex!important;
    justify-content: center;
}

.content{
    @include displayCenter();
    flex-direction: column;
    width: 800px;
    text-align: justify;
}

#noteikumi{
    display: none;
    &.open{
        display: flex;
    }
}

.noteikumiBlock{
    @include displayCenter();
}

.noteikumiPdf{
    @include displayCenter();
    color: black;
    margin: 5px;
    width: 180px!important;
    height: 60px!important;
}

#dopings{
    display: none;
    &.open{
        display: flex;
    }
}